
binaries/

cm-lib/build/

cm-lib/Makefile

cm-ui/build/

cm-ui/Makefile

cm-solution\.pro\.user

Makefile

\.qmake\.stash

cm-tests/target_wrapper\.sh

linux_gcc_x64_debug

*.autosave

cm-quick-tests/target_wrapper\.sh

cm-ui/assets_qmlcache\.qrc

cm-ui/components_qmlcache\.qrc

cm-ui/assets_Style_qml\.cpp
